body {
  background: #4997ec; /* Old, Adam's favourite (blinding) blue: #0079ff */
  background: -webkit-linear-gradient(to right, #00d2ff, #0ed2f7);
  background: linear-gradient(to right, #00d2ff, #0ed2f7);
  background-image: url('/images/sebastien-gabriel-bgphoto-blurred2.png');
  background-size: cover;
}

/*
 * Container
 */
.biomod .container {
  max-width: 1170px;
  border-left: auto;
  border-right: auto;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #f3f3f3;
  overflow: hidden;
}

.ubc .ui.segment {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  border: 0;
}


/*
 *  Logo
 */
.logo {
  padding-top: 15px;
}

/*
 * Menu
 */
.ubc .biomod.menu {
  margin: -1em;
  border-radius: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}

.ubc .biomod > .dropdown.button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none;
  border-right: 1px solid rgba(34,36,38,0.15);
}

.ubc  .biomod.labbook {
  position: absolute;
  right: 0;
  font-weight: 700;
}

/*
 * Content specific section styling
 */

/* Globals */
.biomod.herogrid {
  padding-top: 25px;
}

.page_title {
  padding-bottom: 0;
}

/* Coloured Header */
.ubc .page_header {
  margin-top: -10px;
  text-align: center;
  padding: 100px 250px !important;
}

/*
 * Footer
 */
.footer {
  padding: 15px;
  background: #151515;
  color: #fff;
  border-radius: 3px;
}

i.flag:not(.icon):before {
  background: url('/images/flags.png') -108px -1976px no-repeat !important;
}


/*
 * Helper Classes, & Responsiveness
 */

.ubc .bg-adamblue {
  background-color: #4d79ff;
}

.ubc .white-text,
.ubc .white-text h1,
.ubc .white-text h2,
.ubc .white-text h3,
.ubc .white-text p {
  color: #fff;
}

.ubc .larger-paragraphs p {
  font-size: 1.1rem;
}

.ubc .bg-lightblue {
  background-color: #bfcfff;
}

 .width-100 {
   width: 100% !important;
 }

@media only screen and (min-width: 767px) {
  .mobile-only {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  .not-mobile {
    display: none !important;
  }

  .biomod.herogrid {
    padding: 20px 0 5px 0;
  }
}
