<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title + " | UBC Biomod" || "UBC Biomod" %></title>

    <%= stylesheet_link_tag "normalize", "semantic.min", "animate", "main" %>
    <%= javascript_include_tag  "all" %>

  </head>

  <body class="<%= page_classes %> ubc">
    <div class="ui container">
        <%= link_to image_tag('logosm.png', :border => 0, :class => 'logo', :width => 200), '/index.html' %>
        <%= current_page.data.above_nav %>
    </div>
    <div class="ui container segment">
      <%= partial "navigation" %>
      <div class="ui grid biomod herogrid">
        <%= yield %>
      </div>
    </div>
    <%= partial "footer" %>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <%= javascript_include_tag  "semantic.min", "main" %>
  </body>
</html>
