<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title %> - UBC BIOMOD</title>

    <%= stylesheet_link_tag "normalize", "semantic.min", "animate", "main" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %> ubc">
    <div class="ui container">
      <%= link_to image_tag('logosm.png', :border => 0, :class => 'logo', :width => 200), config[:hosturl] + '/index.html' %>
        <%= current_page.data.above_nav %>
    </div>
    <div class="ui container segment">
      <%= partial "navigation" %>
      <div class="ui grid biomod herogrid">
        <div class="sixteen wide column page">
          <h1>
            <%= current_page.data.title || 'Lab Book' %>
          </h1>
        </div>
        <!-- Mobile Only Navigation (Black bar) -->
        <div class="sixteen wide phone column mobile-only">
          <div class="ui inverted segment">
            <div class="ui floating labeled icon dropdown inverted fluid button">
              <i class="content icon"></i>
              <span class="text">LabBook Navigation </span>
              <div class="menu">
                <% if current_page.data.active_link == 'Amplification' %>
                  <%= link_to 'Amplification', config[:hosturl] + '/lab/amplification', :class => 'item active' %>
                <% else %>
                  <%= link_to 'Amplification', config[:hosturl] + '/lab/amplification', :class => 'item' %>
                <% end %>

                <% if current_page.data.active_link == 'qPCR' %>
                  <%= link_to 'qPCR &amp; miRNA testing', config[:hosturl] + '/lab/qPCR', :class => 'item active' %>
                <% else %>
                  <%= link_to 'qPCR &amp; miRNA testing', config[:hosturl] + '/lab/qPCR', :class => 'item' %>
                <% end %>

                <% if current_page.data.active_link == 'DNA' %>
                  <%= link_to 'DNA structure/Assay', config[:hosturl] + '/lab/DNA', :class => 'item active' %>
                <% else %>
                  <%= link_to 'DNA structure/Assay', config[:hosturl] + '/lab/DNA', :class => 'item' %>
                <% end %>
                <div class="divider"></div>
                <div class="header">
                  <i class="hashtag icon"></i> Sections in this page
                </div>
                <% current_page.data.side_nav.each do |s| %>
                <a class="item" href='<%= s[1] %>'><%= s[0] %></a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <!-- Tablet and above mobile navigation! -->
        <div class="six wide tablet four wide computer column ui rail not-mobile">
          <div class="ui vertical menu sticky">
            <div class="item">
              <div class="header">Experiments</div>
              <div class="menu">
                <% if current_page.data.active_link == 'Amplification' %>
                  <%= link_to 'Amplification', config[:hosturl] + '/lab/amplification', :class => 'item active' %>
                <% else %>
                  <%= link_to 'Amplification', config[:hosturl] + '/lab/amplification', :class => 'item' %>
                <% end %>

                <% if current_page.data.active_link == 'qPCR' %>
                  <%= link_to 'qPCR &amp; miRNA testing', config[:hosturl] + '/lab/qPCR', :class => 'item active' %>
                <% else %>
                  <%= link_to 'qPCR &amp; miRNA testing', config[:hosturl] + '/lab/qPCR', :class => 'item' %>
                <% end %>

                <% if current_page.data.active_link == 'DNA' %>
                  <!--<%= link_to 'DNA structure/Assay', config[:hosturl] + '/lab/DNA', :class => 'item active' %>-->
                  <div class="ui dropdown item active">
                    DNA structure/Assay
                    <div class="menu">
                      <% current_page.data.side_nav.each do |s| %>
                      <a class="item" href='<%= s[1] %>'><%= s[0] %></a>
                      <% end %>
                    </div>
                  </div>
                <% else %>
                  <%= link_to 'DNA structure/Assay', config[:hosturl] + '/lab/DNA', :class => 'item' %>
                <% end %>
                <!---<a class="item <% if current_page.data.active_link == 'Data' %>active<% end %>" href="#!">Data</a>
                <a class="item <% if current_page.data.active_link == 'Models' %>active<% end %>" href="#!">Models</a>-->
              </div>
            </div>
            <div class="item" class="not-mobile">
              <div class="menu">
                <% current_page.data.side_nav.each do |s| %>
                <a class="item" href='<%= s[1] %>'><%= s[0] %></a>
                <% end %>
              </div>
            </div>
          </div>

        </div>
        <div id="content" class="sixteen wide phone ten wide tablet twelve wide computer column" style="min-height: 700px;">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= partial "footer" %>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <%= javascript_include_tag  "semantic.min", "main" %>
    <script>
    $('.ui.sticky')
      .sticky({
        context: '#content',
        offset: 5
      })
    ;
    </script>
  </body>
</html>
