---
title: Amplification
side_nav:
  - ['Stage 1', '#stage1']
  - ['Stage 2', '#stage2']
  - ['Stage 3', '#stage3']
layout: sidenav
active_link: Amplification
---
<div id="stage1" markdown="1">

## Circular DNA and rolling circle amplification testing.

</div>

_1.1 List of Materials_

- M13mp19 single-strandedcircular DNA  
- Primer(5’-TCTGTTTATAGGGCCTCTTCGCTATTACGCCAGC-3’)
- φ29 DNA polymerase 
- Tris-HCl (pH 7.5)
- NaCl
- Ammonium sulfate (chaotropicagent, stabilizes H-bonds between mismatch primer nucleotides…)

-         Glycerol (increase relativeconcentration à increase reaction efficiency)


-         Bovine serum albumin (BSA)


-         dNTPs 


-         yeast pyrophosphatase

<div id="stage2" markdown="1">

## Stage II - Qualitative Testing/Protocol Development

</div>

**1.      ****Circular DNA and rollingcircle amplification testing ** 

 

*1.1.           **Preliminary protocol: *

a.      Amplification: 

i.                    Make 100 ul of AnnealingSolution containing:

·      20 mM Tris-HCl (pH 7.5)

·      40 mM NaCl 

ii.                  add 50 pmoles primer and 2.75pmoles (6.5 ug) of M13mp19 ss circular DNA to annealing solution

iii.                adjust heat block temperature to 95oC and monitorthermometer. Place tubes containing annealing reaction mixture onto the heatblock and heat for 1 min

iv.                cool mixture slowly to room temperature over 30 min

v.                  While waiting for the annealingreaction mixture to cool, make 25 uL Amplification Reaction Mix containing:

·      50 mM Tris-HCl (pH 7.5-7.9)

·      10 mM MgCl2

·      20 mM ammonium sulfate ((NH4)2SO4)

·      5% glycerol (only used in Dean etal.)

·      200 ug/mL BSA

·      1 mM each dNTP 

·      0.02 units yeastpyrophosphatase (keep on ice) (only used in Dean et al.)

·      0.3 units φ29 DNA polymerase (addlast, keep on ice)

vi.                when annealing mixture iscooled to room temperature, pool amplification reaction mix with annealingmixture (need to look up/confirm specific amounts of each in reaction, which isnot specified in either papers) to create Master Mix

vii.              Place Master Mix in 34oCwater bath, allow reaction to proceed for varying lengths of time (incubation time points to be determined – ranging from 15min to 6 hours) 

b.     detection: 

i.                    Measure amounts of amplicon at each time point*

ii.                  Plot fold change in DNA amount on graph

iii.                ??? more details to be added 

 

*1.2.           **Problems to be discussed during meetings:*

i.                    Size of plasmid used in testingis different/much larger than actual size of the molecule – usually more than1000 bps – whether the test result can be applied to the actual system isunknown 

ii.                  *Need a DNA detection systemthat allows determination of fold of amplification 