<div class="footer ui container">
  <div class="ui stackable grid">
    <div class="four wide tablet column">
      <p>UBC BIOMOD - the multidisciplinary undergraduate team taking on the world and researching for the future.</p>
      <%= link_to 'Learn More', 'http://ubcbiomod.com', :class => 'ui inverted basic button' %>
    </div>
    <div class="four wide tablet column">
      <div class="ui secondary inverted vertical menu">
        <%= link_to 'Home', '/index.html', :class => 'item' %>
        <%= link_to 'Project', '/project.html', :class=> 'item' %>
        <div class="ui dropdown item">
          <i class="dropdown icon"></i>
          Lab Book
          <div class="menu">
            <%= link_to 'Methods', '#!', :class => 'item' %>
            <%= link_to 'Protocols', '#!', :class => 'item' %>
            <a class="item">Large</a>
          </div>
        </div>
      </div>
    </div>
    <div class="eight wide tablet column">
      &copy; UBC BIOMOD 2017
    </div>
  </div>
</div>
