<div class="ui menu biomod">
  <%= link_to 'Home', config[:hosturl] + '/', :class => 'item not-mobile' %>
  <%= link_to 'Background', config[:hosturl] + '/background', :class => 'item not-mobile' %>
  <%= link_to 'Design', config[:hosturl] + '/design', :class => 'item not-mobile' %>
  <%= link_to 'Modelling', config[:hosturl] + '/modelling', :class => 'item not-mobile' %>
  <%= link_to 'Methods', config[:hosturl] + '/methods', :class => 'item not-mobile' %>
  <%= link_to 'Results', config[:hosturl] + '/results', :class => 'item not-mobile' %>
  <div class="ui pointing dropdown link item not-mobile">
    <span class="text">Team</span>
    <i class="dropdown icon"></i>
    <div class="menu">
      <%= link_to 'Members', config[:hosturl] + '/members', :class => 'item' %>
      <%= link_to 'Sponsors', config[:hosturl] + '/sponsors', :class => 'item' %>
    </div>
  </div>
  <!-- Mobile only dropdown -->
  <div class="ui floating labeled icon dropdown basic button mobile-only">
    <i class="content icon"></i>
    <span class="text">Navigation</span>
    <div class="menu">
      <%= link_to 'Home', config[:hosturl] + '/', :class => 'item' %>
      <%= link_to 'Background', config[:hosturl] + '/background', :class => 'item' %>
      <%= link_to 'Design', config[:hosturl] + '/design', :class => 'item' %>
      <%= link_to 'Modelling', config[:hosturl] + '/modelling', :class => 'item' %>
      <%= link_to 'Methods', config[:hosturl] + '/methods', :class => 'item' %>
      <%= link_to 'Results', config[:hosturl] + '/results', :class => 'item' %>
      <div class="divider"></div>
      <div class="header">Team</div>
      <%= link_to 'Members', config[:hosturl] + '/members', :class => 'item' %>
      <%= link_to 'Sponsors', config[:hosturl] + '/sponsors', :class => 'item' %>
    </div>
  </div>

  <%= link_to 'Lab Book', config[:hosturl] + '/lab/labbook/', :class => 'item biomod labbook' %>
</div>
