---
title: Design &amp; Modelling
---
<div class="sixteen wide column bg-adamblue white-text page_header larger-paragraphs">
  <h1 class="animated fadeInUp">Design &amp; Modelling</h1>
  <p class="animated fadeInUp">In order to achieve our goal of rapidly detecting highly specific miRNA, we had to create a novel probe. </p>
</div>

<!-- Dog Bone Probe -->
<div class="six wide tablet column">
<img src="/images/content/dogbone_nupack_mfe.svg" alt="Dogbone DNA structure" style="max-width: 100%;"/>
</div>
<div class="ten wide tablet column larger-paragraphs">
  <h2>Dog Bone Probe</h2>
  <p>The dog-bone probe is a 158 nt piece of circular DNA that binds to itself to give a secondary structure that has two 66 nucleotide loops separated by a 13 nucleotide long stem. It is very stable in its “locked” form (-G=?). </p>
  <p>When the miRNA is close to the probe it will bind to a 9 nt complementary “toehold” section of the dog bone, shown in [colour]. The stem and the unbound microRNA part are complementary, so after the toehold binds the rest of the microRNA will break open the the stem, turning the dog bone into an open loop with one section of double stranded DNA-RNA hybrid.</p>
  <p>This type of probe was chosen because unlike pad-lock probes or other kinds seen in literature, it does not need an additional ligation step after binding of miRNA. In addition, the toe-hold initiated attachment of miRNA to DNA and the strand displacement are highly specific and favorable, making this probe very specific and sensitive.</p>
</div>

<!-- Molecular Beacon and Endonucleases -->
<div class="ten wide tablet column bg-lightblue">
  <h2>Molecular Beacon &amp; Endonucleases</h2>
  <p>The detection and quantification of the long strands of DNA produced by RCA is done with molecular beacons and restriction enzymes. The molecular beacon design used in our project is a small stem loop of 32 nt in total with a fluorophore and quencher on opposite ends. When the stem loop is closed the fluorophore and quencher are in contact, resulting in no fluorescence.</p>
  <p>The advantage to this is all the fluorescence detected is from opened molecular beacons, the detection of microRNA easy to quantify. The inside of the stem loop on our beacon are designed to be complementary to specific repeated locations of the long strand of DNA from RCA. Our prototype used different locations so require two different molecular beacons. </p>
</div>
<div class="six wide tablet column bg-lightblue">
  <iframe class="sculpteo-viewer" type="text/html" style="max-width: 100%;" width="350" height="325" src="//www.sculpteo.com/embed/design/UarbTbE6?click=none&panel=0&bgcolor=bfcfff" frameborder="0" scrolling="no"></iframe>
</div>
