---
title: BIOMOD
---

<div class="five wide tablet column animated flipInX" style="text-align: center;">
  <h2>Detecting Cancer</h2>
  <p>Paving the path for cancer detection via microRNA. A non-invasive, early warning system designed to catch cancer early.</p>
  <h2>Quantitative Amplification</h2>
  <p>Our precise system requires amplification in order to detect the miniscule quantities available in the body. Normally this would result in loss of quantitative data, but we've solved that problem.</p>
</div>

<div class="six wide tablet column">
  <!-- Placeholder image -->
  <img class="ui centered image" src="images/fluorinehero.png" />
</div>

<div class="five wide tablet column animated flipInX" style="text-align: center;">
  <h2>DNA Based</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  <h2>Targeted Specificity</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
</div>
