---
title: Members
---

# The Team
<div class="width-100"><img class="ui fluid rounded image" src="http://biomod2016.gitlab.io/ubc/img/UCSF_team_2.jpg" /></div>
<br/>
<div class="ui four cards width-100">
  <div class="ui card">
    <div class="ui fade reveal image">
      <img class="visible content" src="http://biomod2016.gitlab.io/ubc/img/team/amir.jpg">
    </div>
    <div class="image">
      <img src="http://biomod2016.gitlab.io/ubc/img/team/amir_hov.jpg">
    </div>
    <div class="content">
      <div class="header">Amir</div>
      <div class="meta">
        <span class="date">Team Leader &amp; lab dweller</span>
      </div>
      <div class="description">
        Cats are better than dogs!

        You bet.
      </div>
    </div>
    <div class="extra content">
      <i class="student icon"></i>
      Chemical and Biological Engineering
    </div>
  </div>

  <div class="ui card">
    <div class="image">
      <img src="http://via.placeholder.com/290x290">
    </div>
    <div class="content">
      <div class="header">Anusika</div>
      <div class="meta">
        <span class="date">Web dweller</span>
      </div>
      <div class="description">
        Amir your image is so tall it makes this space look awkward.
      </div>
    </div>
    <div class="extra content">
      <i class="student icon"></i>
      Microbiology and Immunology
    </div>
  </div>

  <div class="ui card">
    <div class="image">
      <img src="http://via.placeholder.com/290x290">
    </div>
    <div class="content">
      <div class="header">Adam</div>
      <div class="meta">
        <span class="date">Food Eater</span>
      </div>
      <div class="description">
        Dogs > cats. (Sorry, cat people!)
      </div>
    </div>
    <div class="extra content">
      <i class="student icon"></i>
      Microbiology and Immunology
    </div>
  </div>

  <div class="ui card">
    <div class="content" style="flex-grow: 0;">
      <div class="header">Adam</div>
      <div class="meta">
        <span class="date">Website Crafter</span>
      </div>
    </div>
    <div class="image">
      <img src="http://via.placeholder.com/290x290">
    </div>
    <div class="content">
      <div class="description">
        Doggo enthusiast
      </div>
    </div>
    <div class="extra content">
      <i class="student icon"></i>
      Microbiology and Immunology
    </div>
  </div>
</div>
